=javascript_include_tag "//www.google.com/jsapi", "chartkick"
%br
.row
	.col-md-12.text-center
		%h4.text-center Bet Lite Service
%br
.row
	.col-md-12.border
		%p.lead.text-center Summary
		%table.table.table-bordered
			%tr
				%th Days Running
				%th Members
				%th Profit (Suggested Odds)
				%th Profit (BSP)
				%th Staked
				%th POT
				%th ROI
			%tr
				%td
					=Result.days_running
				%td 0/20
				%td
					=Result.lifetime_profit_suggested
				%td
					=Result.lifetime_points_profit.round(0)
				%td
					=Result.lifetime_staked_points.round(0)
				%td
					="#{(Result.pot*100).round(0)}%"
				%td
					="#{((Result.lifetime_profit/10000)*100).round(2)}%"

%br
.row
	.col-md-12.border
		%p.lead.text-center Past Results
		%table.table.table-bordered
			%tr
				%th Date
				%th Points Staked
				%th Points Profit
				%th POT
			-@results.first(5).each do |result|
				%tr
					%td
						=result.date
					%td
						=result.total_points_staked
					%td
						=result.points_profit
					%td
						="#{(result.pot*100).round(0)}%"
%br
.row
	.col-md-12.border
		%p.lead.text-center Profit
		=line_chart @points_graph, curve: false, colors: ["black"], points: false
%br
.row
	.col-md-12
		%p.lead.text-center All Bets
		%table.table.table-bordered
			%tr
				%th Date
				%th Race
				%th	Meeting
				%th Horse
				%th Suggested Odds
				%th Betfair SP Odds
				%th Result
				%th Profit
			-@all_bets.each do |bet|
				%tr
					%td
						=bet.pretty_time
					%td
						=bet.race
					%td
						=bet.meeting
					%td
						=bet.selection
					%td
						=bet.suggested
					%td
						=bet.odds
					%td
						=bet.result
					%td
						=(bet.profit.to_f/(bet.stake.to_f/2)).round(1)







