=javascript_include_tag "//www.google.com/jsapi", "chartkick"
%br
.row
	.col-md-12.text-center
		%h4.text-center BetLite Dashboard
%br
.row
	.col-md-12.border
		%p.lead.text-center Past Results
		%table.table.table-bordered
			%tr
				%th Bankroll
				%th Profit
				%th Staked
				%th Running Profit
				%th Running Points
			-@results.first(5).each do |result|
				%tr
					%td
						=result.after
					%td
						=result.profit
					%td
						=result.total_staked
					%td
						=result.running_profit
					%td
						=result.running_points_profit
%br
.row
	.col-md-6.border
		%p.lead.text-center Points Profit
		=line_chart @points_graph, curve: false, colors: ["black"], points: false
	.col-md-6.border
		%p.lead.text-center Actual Profit
		=line_chart @profit_graph, curve: false, colors: ["black"], points: false
%br
.row
	.col-md-12
		%p.lead.text-center All Bets
		%table.table.table-bordered
			%tr
				%th Date
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Odds
				%th Result
				%th Profit
			-@bets.each do |bet|
				%tr
					%td
						=bet.pretty_time
					%td
						=bet.race
					%td
						=bet.meeting
					%td
						=bet.selection
					%td
						=bet.stake
					%td
						=bet.odds
					%td
						=bet.result
					%td
						=bet.profit







