=javascript_include_tag "//www.google.com/jsapi", "chartkick"
%br
.row
	.col-md-12.text-center
		%h4.text-center BetLite Dashboard
%br
.row
	.col-md-12.border
		%p.lead.text-center Results to Date
		%table.table.table-bordered
			%tr
				%th Days Running
				%th Bankroll
				%th Profit
				%th Staked
				%th POT
				%th ROC
				%th # Bets Placed






