=javascript_include_tag "//www.google.com/jsapi", "chartkick"
%br
.row
	.col-md-12.text-center
		%h4.text-center Bet Lite Bot
%br
.row
	.col-md-12.border
		%p.lead.text-center Summary
		%table.table.table-bordered
			%tr
				%th Days Running
				%th Bankroll
				%th Profit
				%th Staked
				%th POT
				%th ROI
			%tr
				%td
					=Result.days_running
				%td
					=Result.bankroll
				%td
					=Result.lifetime_profit.round(0)
				%td
					=Result.lifetime_staked.round(0)
				%td
					="#{Result.pot*100}%"
				%td
					="#{((Result.lifetime_profit/10000)*100).round(2)}%"

%br
.row
	.col-md-12.border
		%p.lead.text-center Yesterdays Results
		%table.table.table-bordered
			%tr
				%th Date
				%th Bankroll
				%th Staked
				%th Profit
				%th POT
				%th Portfolio
			-@results.first(2).each do |result|
				%tr
					%td
						=result.date
					%td
						=result.after
					%td
						=result.total_staked
					%td
						=result.profit
					%td
						="#{result.pot*100}%"
					%td
						=result.portfolio.name
%br
.row
	.col-md-6.border
		%p.lead.text-center Premium Picks Profit
		=line_chart @profit_graph_multi, curve: false, colors: ["black"], points: false
	.col-md-6.border
		%p.lead.text-center Surefire Picks Profit
		=line_chart @profit_graph_surefire, curve: false, colors: ["black"], points: false
%br
.row
	.col-md-12
		%p.lead.text-center Pending Bets
		%table.table.table-bordered
			%tr
				%th Date
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Suggested Odds
				%th Odds
				%th Result
				%th Profit
				%th Portfolio
			-@pending_bets.each do |bet|
				%tr
					%td
						=bet.pretty_time
					%td
						=bet.race
					%td
						=bet.meeting
					%td
						=bet.selection
					%td
						=bet.stake
					%td
						=bet.suggested
					%td
						=bet.odds
					%td
						=bet.result
					%td
						=bet.profit.to_f.round(0)
					%td
						=bet.portfolio.name
%br
.row
	.col-md-12
		%p.lead.text-center Yesterdays Bets
		%table.table.table-bordered
			%tr
				%th Date
				%th Race
				%th	Meeting
				%th Horse
				%th Stake
				%th Suggested Odds
				%th Odds
				%th Result
				%th Profit
				%th Portfolio
			-@bets.each do |bet|
				%tr
					%td
						=bet.pretty_time
					%td
						=bet.race
					%td
						=bet.meeting
					%td
						=bet.selection
					%td
						=bet.stake
					%td
						=bet.suggested
					%td
						=bet.odds
					%td
						=bet.result
					%td
						=bet.profit.to_f.round(0)
					%td
						=bet.portfolio.name







