/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.black {
	background-color: #272822;
	color: white;
 }

 .second-text {
 	color:#A6E22D;
 }

 .third-text {
 	color:#D12650;
 }

 .white-text {
 	color:#E6DB5D;
 }

 .fourth-text {
 	color:#66D9EF;
 }

 .bord {
 	border: 2px solid #E6DB5D;
 }
 .white {
 	background-color: white;
 }
 .bt {
 	color: #66D9EF;
 	background-color: white;
 }



